body {
  margin: 0;
  padding: 0;
  background-color: #aaa;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  margin: 80px auto 0;
  width: 980px;
  h1 {
    text-align: center;
  }
}

#slider {
  position: relative;
}

.slider-wrapper {
  width: 100%;
  height: auto; 
  position: relative;
  overflow: hidden;
}

.slider-prev,
.slider-next {
  padding: 8px 12px;
  position: absolute;
  text-decoration: none;
  background-color: #333;
  color: white;
  z-index: 100;
  top: 40%;
}
.slider-prev {
  left: -54px;
}

.slider-next {
  right: -55px;
}

.slider-container {
  margin: 0;
  padding: 0;
  transition: margin 300ms ease;
  z-index: 99;
  -webkit-transition: all 300ms ease;

  .slider-item {
    margin: 0;
    padding: 20px;
    background-color: #eee;
    position: relative;
    display: inline-block;
    float: left;
    h2 {
      padding-bottom: 10px;
      border-bottom: 1px #aaa solid;
    }
  }
}

#slider {
  .slider-item img {
    width: 100%;
    border: none;
    outline: none;
  }
}
